.filter {
    margin-bottom: 20px;
}

.filter select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2b3945;
    color: #ffffff;
}

.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.country-card {
    background-color: #2b3945;
    border-radius: 5px;
    overflow: hidden;
    width: calc(25% - 20px); 
    padding: 10px;
    margin-bottom: 20px;
}

.country-card img {
    width: 100%;
}

.country-card h2 {
    margin-top: 10px;
    margin-bottom: 14px;
}

.country-card p {
    margin: 5px 2;
}

@media (max-width: 768px) {
    .country-card {
        width: calc(50% - 10px);
    }
}
.searchbar{
    width: 50%;
}



/* Light theme */
body.light-theme {
    background-color: #ffffff;
    color: #333333;
  }
  
  /* Dark theme */
  body.dark-theme {
    background-color: #333333;
    color: #ffffff;
  }
  
  /* Toggle switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  